<p class="badge badge-pill badge-success">Product-add works!</p>
<div class="row">
    <div class="col-3">
            <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary mb-2" (click)="newOrCancel()">New User</button>
                    <button type="button" class="btn btn-primary mb-2">User Name</button>
                    <button type="button" class="btn btn-primary">Skills sets</button>
                  </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="usr">Username:</label>
                    <input type="text" class="form-control" id="userName" placeholder="User Name" [(ngModel)]="userName"   
                    [disabled]="!isInsert" autofocus (keydown.enter)="skillsSetFocus()" #userNameRef/>
                  </div>
                  <div class="form-group">
                    <label for="usr">Skills Sets:</label>
                    <input type="text" class="form-control" id="skillsSet" placeholder="Enter each Skills Set and hit 'Enter' Key."   
                    [(ngModel)]="skillsSet" (keydown.enter)="onSkillsSetKeydown()" #skillsSetRef/>
                  </div>
                  <div class="form-group">
                  <button type="button" class="btn btn-primary mr-2" *ngFor="let skill of skills; let i = index">
                    {{skill}} <span class="badge badge-light"><i class="fa fa-times-circle" (click)="dropSkill(i)"></i></span>
                  </button>
                </div>
            </div>
            <div class="card-footer">
                <div class="clearfix">
                    <div class="float-right">
                            <button type="submit" class="btn btn-success" type="submit"
                             [disabled]="!isInsert || skills.length==0 || userName==null || userName==''" (click)="saveUser()">Save</button>
                    </div>
                    <div class="float-right">
                            <button class="btn btn-outline-success mr-2" type="submit" (click)="newOrCancel()">Cancel</button>
                    </div>
                </div>
                
                
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">User Lists</div>
            <div class="card-body">
                    <div *ngFor="let user of users">  
                            <a href="javascript:void(0)" (click)="selectUser(user)">{{user.userName}}</a>  
                    </div>  
            </div>
          </div>
    </div>

</div>
