<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="JavaScript:void(0);">Product</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="products/editor" class="nav-link" routerLinkActive="active">
              Simple Form
            </a>
          </li>
      <li class="nav-item">
        <a routerLink="products/create" class="nav-link" routerLinkActive="active">
          Create Product
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="products/edit" class="nav-link" routerLinkActive="active">
          View I/O Decorators
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="products/posts" class="nav-link" routerLinkActive="active">
          Posts Products
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="products/custom" class="nav-link" routerLinkActive="active">
          Custom Posts
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="products/tab" class="nav-link" routerLinkActive="active">
          Tabular Posts
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <!-- <app-name-editor></app-name-editor> -->
  <router-outlet></router-outlet>
 
</div>